:root{
    --cor-de-fundo:#260029;
    --texto: #ffffff;
    --cor-4: #A62424;
    --rea:#EAC505;
}
h1{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}
img{
    width: 50%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body span.kkk{
    color: var(--cor-4);
}
body span.hhh{
    color: var(--rea);
}

#hotel-um{
    width: 50%;
}
