:root{
    --cor-de-fundo:#260029;
    --texto: #ffffff;
    --cor-4: #A62424;
    --rea:#EAC505;
}
h1{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body span.kkk{
    color: var(--cor-4);
}
body span.hhh{
    color: var(--rea);
}

.Hotel-um{
    width: 20%;
    border-radius: 75px;
    padding-right: 20px;
}


.introdução{
    border-radius: 78px;
    display: flex;
    background-color: gray;
    padding: revert;
    border: 7px solid pink;
}

.Shrek{
   margin-top: 75px; 
   border-radius: 78px;
   display: flex;
   background-color: gray;
   padding: revert;
   border: 7px solid pink;

}

.shrek-um{
    width: 20%;
    border-radius: 75px;
    padding-right: 20px;
}   


body {
    font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.equipe{
   margin-top: 75px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
