:root{
    --cor-de-fundo:#260029;
    --texto: #ffffff;
    --cor-4: #A62424;
    --rea:#EAC505;
}
h1{
    background-color: var(--cor-de-fundo);
    color: var(--texto);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body span.kkk{
    color: var(--cor-4);
}
body span.hhh{
    color: var(--rea);
}

.Hotel-um{
    width: 40%;
    border-radius: 75px;
    padding-right: 20px;
}

.Restaurante-qack{
    width: 40%;
    border-radius: 75px;
    padding-right: 20px;
}


#introdução{
    border-radius: 78px;
    display: grid;
    padding: revert;
    border: 7px solid pink;
    grid-template-columns: 45% 10% 45%;
}

.Shrek{
   margin-top: 75px; 
   border-radius: 78px;
   display: flex;
   background-color: gray;
   padding: revert;
   border: 7px solid pink;

}

.shrek-um{
    width: 20%;
    border-radius: 75px;
    padding-right: 20px;
}   

.riverdale{
    width: 20%;
    border-radius: 75px;
    padding-right: 20px;
    margin-left: 22%
}

body {
    font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ini{
    margin-left: 1590px;
}

.Pesquisar{
    margin-left: 870px;
}

.Margem{
    margin-left: 827px;
    margin-top: 30px;
}

#equipe{
   margin: 50px 0 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.esp{
    display: flex;
    background-color: gray;
    border-radius: 71px;
}